<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #98fb98"
>
  <a class="navbar-brand" href="#">
    <img
      src="https://cdn-icons-png.flaticon.com/512/616/616430.png"
      alt="Zoo Logo"
      width="30"
      height="30"
      class="d-inline-block align-text-top"
    />
    ZooKeeper
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: #006400">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: #006400">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/todo-view" style="color: #006400">Animals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: #006400">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <h1 style="color: #228b22; font-family: 'Arial', sans-serif">
    Welcome to the Zoo Management System!
  </h1>
  <p style="font-size: 1.2rem; color: #556b2f">
    This system helps you manage animals, staff, and facilities in the zoo
    efficiently. Explore the options in the menu above.
  </p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
